<div class="container">
<table class="table">
    <tbody >
      <tr><td>First Name</td> <td><input type="text" [(ngModel)]="user.Fname"></td></tr>
      <tr><td>Last Name</td> <td><input type="text" [(ngModel)]="user.Lname"></td></tr>      
      <tr><td>User Name</td><td><input type="text"   [(ngModel)]="user.UserName"></td></tr>
      <tr><td>Phone</td><td><input type="text" minlength="10" [(ngModel)]="user.Phone"></td></tr>
      <tr><td>Email</td><td><input type="email"   [(ngModel)]="user.Email"></td></tr>
      <tr><td> Privilages</td><td>
        <label for="Admin"> Admin </label><input id="Admin" type="checkbox" [(ngModel)]="user.IsAdmin"/>
        <label for="Reviewer">Reviewer </label><input id="Reviewer" type="checkbox" [(ngModel)]="user.IsReviewer"/>
        <label for="Active">Active</label><input id="Active" type="checkbox" [(ngModel)]="user.IsActive" />
      </td></tr>
      <tr><td colspan="2"><button class="btn btn-warning btn-sm"  (click)="edit()">Edit</button><button class="btn btn-warning btn-sm" *ngIf="loggedInUser.IsAdmin"  (click)="displaydelete()" >Delete</button><button class="btn btn-danger btn-sm" (click)="remove(user.id)" *ngIf="displaydeletebtn">confirm</button><button style="float: right;" class="btn btn-success btn-sm"  routerLink="../../list">Back</button></td></tr>
    </tbody>
  </table></div>



 

