<div class="container">
  <table class="table">
    <thead>
      New Purchase
    </thead>
    <tr>
      <td>Name</td><td> <select  [(ngModel)]="pr.UserID" ><option *ngFor="let user of users" [ngValue]="user.Id">{{user.Lname}}, {{user.Fname}}</option></select></td>
    </tr>
    <tr>
      <td>Justification</td><td><input type="text" [(ngModel)]="pr.Description"></td>
    </tr>
    <tr><td colspan="2"><button class="btn btn-success btn-sm" (click)="create()">Create</button><button class="btn btn-sm btn-success" style="float:right;" routerLink="../list">Back</button></td></tr>
    
  </table>
</div>


<!-- 
                Id: number
                Description: string;
                RejectionReason: string;
                DeliveryMode: string;
                Status: string;
                Total: number;
                Active: boolean;
                UserID: number;
                User: User; -->