body {
  font-family: 'Roboto';
  background: #F4F4F4;
}

[data-show=""] { display: none; }

.container {
  /*width: 100%;
  max-width: 1500px;*/
  background: white;
  padding:0;
  overflow: hidden;
}

.navbar-collapse {
  padding: 0;
}

header .LayoutTopTop {
  border-bottom: none;
  padding: 0 30px;
}

header .LayoutTopBottom {
  /*border-bottom: 1px solid #D8D8D9;*/
  padding: 0px 45px;
}


header .LayoutTopBottom a.logo {
  display: block;
  max-width: 150px;
  line-height: 51px;
}

header .navbar-nav li > a {
  font-family: 'Montserrat';
  color: #999999;
  text-transform: uppercase;   
}

header .LayoutTopBottom .navbar-nav li > a {
  font-weight: bold; 
}

.nav-utility {
  margin: 0;
}

.navbar-main {
  margin-bottom: 0;
}

.navbar-nav li > a {
  background: none !important;
}

.navbar-nav li:not(.search-wrapper) > a:hover {
  text-decoration: underline;
}

.LayoutTopBottom .icon-cart {
  vertical-align: bottom;
  margin-right: 5px;
}

.LayoutTopBottom .icon-cart svg {
  max-height: 18px;
}



.btn {
  display: inline-block;
  font-size: 16px;
  padding: 10px 22px;
  border-radius: 22px;
  transition: 0.3s all ease-in-out;
}

.btn.btn-default {
  color: #8a9299;
  background: white;
  border-color: #34A2D9;
}

.btn.btn-primary, .btn.btn-default:hover {
  color: white;
  background: #3199ce;
  border-color: #3199ce;
}

.btn.btn-primary:hover {
  background: #2990c3;
  border-color: #34A2D9;
}

.home-hero {
  line-height: 679px;
  background: #F7F7F9;
}

.home-hero h1 {
  font-weight: 300;
  font-size: 68px;
  margin-bottom:40px;
}

.home-hero .inner {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.home-hero img {
  float: left;
}

.right-promo, .left-promo {
  position: relative;
  height: 441px;
}

.left-promo img, .right-promo img {
  position: absolute;
  top: 0;
  bottom: 0;
}

.left-promo {
  background: #C2E0DC;
}

.left-promo img {
  left: 0;
}

.right-promo {
  background: #282A33;
}

.right-promo img {
  right:0;
}

.right-promo .inner, .left-promo .inner {
  width: 365px;
  max-width: 100%;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
  height: 291px;
}

.right-promo .inner {
  color: white;
  padding: 0 80px;
  left:0;
  background: rgba(40,42,51, 0.8);

}

.left-promo .inner {
  padding: 0 145px 0 15px;
  right:0;
  background: rgba(194,224,220, 0.8);
}



h2 {
  font-size: 56px;
  font-weight: 300;
  margin: 25px 0 20px;

}

h5 {
  font-size: 18px;
  margin:0;
  font-weight: 300;
}

.left-promo h5 {
  color: #0f110d;
}

.right-promo h5 {
  color: #ffffff;
}

.home-featured {
  padding: 40px 15px;
  max-width: 1360px;
  margin: auto;
}

.small-product .thumbnail {
  padding: 0;
  margin: 0;
  line-height: normal;
  background: none;
  border: 0;
  border-radius: 0;
}

.small-product .primary-category {
  color: #8a9299;
  font-family: 'Montserrat';
  display:inline-block;
}

.small-product .product-name {
  margin: 15px 0 20px;
  font-size: 16px;
  min-height:  34px;
}

.small-product .product-name a {
  color: #090505;
}

.small-product .btn {
  width:  130px;
}

.popular-prods-module h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

.popular-prods-module {
  padding: 0 30px;
}

.small-product.vertical {
  text-align: center;
}

.small-product.vertical .inner {
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  padding:30px;
}


.small-product.vertical .thumbnail {
  margin-bottom: 15px;
}

.home-mailinglist {
  margin-top: 45px;
  background: #F7F7F9;
  padding: 60px 15px;
  text-align:center;
}

.home-mailinglist h1 {
  font-weight: 300;
  margin: 0 0 15px;
}

.text-muted {
  font-size: 16px;
  font-family: 'Montserrat';
  color: #999999;
}

.home-mailinglist .text-muted {
  margin-bottom: 20px;
}

.ml-signup-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  height: 45px;
  border-radius: 22.5px;
  overflow: hidden;
}

.ml-signup-wrapper input[type="text"] {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  min-height: 0;
  width: 100%;
  border:0;
  box-shadow: none;
  padding: 0 120px 0 15px;
}

.ml-signup-wrapper input[type="submit"] {
  position: absolute;
  right: 0;
  top:0;
  bottom: 0;
  border-radius: 0;
  border: 0;
  background: #34A2D9;
  color: white;
  font-size: 16px;
  padding: 0 30px;
}

.LayoutBottomTop {
  padding: 0px 15px;
}

.LayoutBottomTop img {
  max-width: 100px;
  margin-bottom: 20px;
}

.LayoutBottomTop p {
  color: #8a9299;
  line-height: 1.9;
  /*max-width: 240px;*/
  font-family: 'Montserrat';
}

.nav-footer li {
  margin-bottom: 5px;
}

.nav-footer li a {
  padding:0;
  display: inline-block;
  color: #090505;
  font-size: 16px;
}

.footer-socials .s-icon {
  color: #8A9299;
  font-size: 18px;
  border: 1px solid currentColor;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  border-radius: 17.5px;
  line-height: 35px;
  transition: 0.3s all ease-in-out;
}

.footer-socials .s-icon:hover {
  background: #8A9299;
  color: white;
  border: 1px solid #8A9299;
  text-decoration: none !important;
}

.LayoutBottomBottom {
  max-width: 1250px;
  margin: auto;
  padding: 45px 15px;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #8a9299;
}

.LayoutBottomTop {
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  margin-top: 30px;
}

.page-header {
  text-align: center;
  border: 0;
  padding: 0;
  margin: 50px 0 50px;
}

.page-header h1 {
  font-weight: 300;
  margin: 0;
}

.CategoryCategoryHeader {
  text-align: center;
  padding: 0 15px;
}

.category-nav {
  background:#F7F7F9;
  max-width: 1350px;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  margin: 15px auto;
}

.product-list {
  max-width: 1350px;
  margin: auto;
}

.product-list .row:not(:last-of-type) .small-product {
  margin-bottom: 30px;
}

.product-list .small-product .thumbnail {
  line-height: 280px;
  min-height: 280px;
  vertical-align: middle;
}

.product-list .small-product .thumbnail img {
  vertical-align: middle;
  display: inline-block;
}

.LayoutContentInner {
  padding: 15px;
}

.photo-area {}

.main-product-photo {
  border: 0;
  padding: 0;
  margin: 0 ;
  line-height: 0;
  border-radius: 0;
}

.bx-wrapper + .main-product-photo {
  margin-left: 100px;
}

.bx-wrapper {
  margin: auto !important;
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  display: inline-block;
  max-height: 170px;
}

.bx-wrapper .bx-viewport {
  padding: 0;
  margin: 0;
  left: 0;
}

.product-thumbnails {
  transform: translate3d(0,0,0) !important;
  margin: 0;
  padding: 0;
}

.bx-pager.bx-default-pager {
  display: none;
}

.bx-wrapper .bx-controls-direction a {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 0 !important;
  transform: rotate(90deg);
}

.bx-wrapper .bx-controls-direction .bx-prev {
  top: -50px;
}

.bx-wrapper .bx-controls-direction .bx-next {
  bottom: -50px;
  top: auto;
}

.product-thumbnails .thumbnail {
  border: 0;
  padding: 0;
}

.desc-area {
  background: #F7F7F9;
  padding:  60px;
}

.desc-area h1.ProductDetailsProductName {
  margin: 0;
  font-weight: 300;
  margin-bottom: 15px;
}

.desc-area .h1
{
  font-weight: 300;
  font-size: 20px;
  margin: 7px 0!important;
}

span.ProductDetailsQuantity {
  display: none;
}


div.ProductDetailsQuantity {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 210px;
  height: 45px;
  border-radius: 22.5px;
  overflow: inherit;
  margin: 30px 0;
}

div.ProductDetailsQuantity input[type="text"] {
  position: relative;
  top: 15px !important;
  left:0;
  right:0;
  bottom:0;
  min-height: 0;
  width: 100%;
  border:0;
  box-shadow: none;
  padding: 0 155px 0 15px;
  border-radius: 22.5px;
}

div.ProductDetailsQuantity input[type="submit"] {
  position: absolute;
  right: 55px;
  top: 0;
  bottom: 0;
  border-radius: 0;
  border: 0;
  background: #34A2D9;
  color: white;
  font-size: 16px;
  padding: 0 30px;
  border-top-right-radius: 22.5px;
  border-bottom-right-radius: 22.5px;
}

.nav-tabs {
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Montserrat';
}

.nav-tabs>li:first-of-type {
  margin-left: 0;
}

.nav-tabs>li>a {
  background: 0 !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 3px solid transparent;
  margin-right: 0;
  border-radius: 0;
  color: #8a9299;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #3c3d41;
  border-bottom: 3px solid #34A2D9;
}

.nav-tabs>li.active {
  margin-bottom: -2px;
}

.nav-tabs>li>a:hover {
  border-bottom-color: transparent;
}

.tab-content {
  color: #8a9299;
  font-family: 'Montserrat';
  line-height: 1.9;
}


.home-hero:after {content: '';display: block;clear: both;}

.home-hero .ImageLogo {
  float: right;
}

.home-hero .inner-wrapper {
  max-width: 1350px;
}

.home-hero .inner {
  width: 100%;
  max-width: 430px;
  position: absolute;
  height: 356px;
  top: 0;
  bottom: 0;
  left: 23%;
  margin: auto;
  background: rgba(247,247,249,0.8);
  padding: 15px;
}

.home-hero {
  position: relative;
}


@media (min-width: 992px) {
  .photo-area {
    margin-right:-30px;
  }


  .small-product.horizontal .thumbnail {
    float: left;
    height: 300px;
    line-height: 300px;
    vertical-align: middle;
    margin-right: 30px;
    padding-left: 15px;
    max-width: 40%;
  }

  .small-product.horizontal .thumbnail img {
    display: inline-block;
    vertical-align: middle;
  }

  .small-product.horizontal .primary-category {
    margin-top:80px;
  }


  .small-product.horizontal:not(:first-of-type) {
    border-left: 2px solid #EAEAEA;
  }
}

@media (max-width: 767px) {
  .navbar-toggle span {
    background: #34A2D9;
  }

  .navbar-toggle {
    padding: 10px 15px;
  }

  .btn.navbar-toggle:hover {
    background: none;
    border-color: #34A2D9;
  }

  .navbar-util {
    padding: 0 15px;
  }

  header .LayoutTopBottom {
    padding: 10px 30px;
  }

  header .LayoutTopBottom a.logo {
    margin-left: 15px;
  }

  .navbar-main.collapse, .navbar-main.collapsing {
    padding: 0 15px;
  }

  li.search-wrapper .visible-xs {
    display: inline-block !important;
    margin-left: 5px;
  }

  .LayoutBottomTop, .LayoutBottomTop .ImageLogo, .LayoutBottomBottom, .LayoutBottomBottom .ImageLogo {
    text-align: center !important;
  }

  .LayoutBottomTop p {
    margin: auto;
  }

  .LayoutBottomTop .row .row > div {
    padding: 10px 15px;
  }

  .LayoutBottomTop {
    padding: 30px 15px;
  }

  .home-hero .inner {
    left: 0;
    right: 0;
  }
}


@media (max-width: 991px) {
  .small-product.vertical, .small-product.horizontal {
    margin-bottom: 30px;
  }
  .small-product.vertical:nth-of-type(2n + 1) {
    clear: both;
  }

  .small-product.horizontal {
    text-align: center;
  }

  .small-product.horizontal .inner {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding:30px;
  }


  .small-product.horizontal .thumbnail {
    margin-bottom: 15px;
  }
}
#dvProductQuantity .icon-chevron-up { 
  left: -5px !important; 
  margin-left: 25px !important;
  font-size: 20px !important;
}

#dvProductQuantity .icon-chevron-down { 
  left: -5px !important; 
  bottom: -30px !important;
  margin-left: 25px !important;
  font-size: 20px !important;
}
.modal-open div.ProductDetailsQuantity input[type="text"] {
  padding: 15px 155px 0 26px;
}
#dvProductQuantity .pad-t-10 {
  display: none;
}
.CategoryProductQuantityTextbox .icon-chevron-up, .CategoryProductQuantityTextbox .icon-chevron-down,
.CartUpdateItemArea .icon-chevron-up, .CartUpdateItemArea .icon-chevron-down {left: 33px !important;}
.ProductDetails div.ProductDetailsQuantity input[type="text"] { top: 0px !important;}
.ProductDetails div.ProductDetailsQuantity input[type="submit"] { right: 0px; }